{% extends "user_profile/user.html" %}
{% import "macros.html" as macros %}
{% block profilesection %}
    {% trans %}Change Profile Photos{% endtrans %}
{% endblock %}
{% block usercontent %}
    <ul class="avatarContainer">
<!--     	<li>{% trans %}Current Profile Image: {% endtrans %}</li> -->
    	<li>{{ macros.gravatar(user, 128) }}</li>
    </ul>
    {% if not avatars %}
        <p class="noAvatar">{% trans %}You haven't uploaded any profile photo yet. Please upload one now.{% endtrans %}</p>
    {% else %}
	    <div id="profile_image_choice">
	        <form method="POST" action="{% url avatar_change %}">{% csrf_token %}
	        	<p class="heading">{% trans %}Choose from Photos{% endtrans %}</p>
	            <ul>
	            	{% for field in  primary_avatar_form %}
	                {{ field }}
	            	{% endfor %}
	            </ul>
	            <p><input type="submit" value="{% trans %}Apply{% endtrans %}" /></p>
	        </form>
	    </div>
    {% endif %}
    <div id="profile_image_new">
   		 <p class="heading">{% trans %}Upload Photo{% endtrans %}</p>
	    <form enctype="multipart/form-data" method="POST" action="{% url avatar_add %}">{% csrf_token %}
	     	<div class="uploadAvatar">
	     	<output id="previewimg">			
			</output>
		    	{{ upload_avatar_form.avatar }}
		        <!-- {{ upload_avatar_form.as_p() }} -->
		    </div>
	        <div class="avatarFormSubmit">
	            <input type="submit" value="{% trans %}Upload{% endtrans %}" />
	            <a id="cancelProfileImageUpdate" href="{{ user.get_profile_url() }}" class="button cancel">{% trans %}Cancel{% endtrans %}</a>
	        </div>
	    </form>
	</div>
{% endblock %}
