{% extends "user_profile/user.html" %}
{% block profilesection %}{% trans %}delete profile photo{% endtrans %}{% endblock %}
{% block usercontent %}

    
    {% if not avatars %}
        <p class="noAvatar">{% trans avatar_change_url="avatar_change"|url %}You have no photos to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.{% endtrans %}</p>
    {% else %}
	<p class="noAvatar">{% trans %}Please select the photos that you would like to delete.{% endtrans %}</p>
    <div id="profile_image_choice">
        <form method="POST" action="{% url avatar_delete %}">{% csrf_token %}
	            	{% for field in delete_avatar_form %}
						{{ field }}
	            	{% endfor %}
            <div class="avatarFormSubmit">
                <input type="submit" value="{% trans %}Delete These{% endtrans %}" />
                <a id="cancelProfileImageUpdate" href="{{ user.get_profile_url() }}" class="button cancel">{% trans %}Cancel{% endtrans %}</a>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}
